<!DOCTYPE html>
<html>

<head>
    <title>
        TODO LIST
    </title>

    <script src="https://kit.fontawesome.com/3671c8b17f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    </link>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

</head>

<body class="spacing">

    <div id="container">
        <h3>TODO App</h3>
        <hr>

        <form action="/user/add" method="POST" name="todo-task">
            <div id="description">
                <label for="description">Description</label><br>
                <textarea name="description" placeholder="What do you need to do?" id="description-text"
                    class="spacing font-text-color" required></textarea>
            </div>
            <hr>
            <div id="category">
                <label for="category">Category</label><br>
                <select name="category" class="spacing font-text-color">
                    <option value="personal" selected>Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleaning">Cleaning</option>
                </select>
            </div>
            <div id="due-date">
                <label for="due_date">DUE DATE</label><br>
                <input type="date" name="due_date" class="spacing font-text-color">
            </div>
            <hr>
            <div id="submit-buttons">
                <button type="submit" id="add" class="spacing font-text-color">
                    <i class="fas fa-plus"></i>
                    ADD TASK
                </button>
                <button  id="delete" class="spacing font-text-color">
                    <i class="far fa-trash-alt"></i>
                    DELETE TASK
                </button>
            </div>
            
        </form>
            <hr>

        <div id="tasks">
            <% for(let t of task) { %>
                <div id="task">
            <span>
                <input type="checkbox" name="delete" id="delete-task">
            </span>
            <span> <%= t.description %></span><br>
            <span> &emsp; 
                <i class="far fa-calendar-alt"></i>
                <% var d=t.due_date.toString().split(" ");%>
                <% var ans=d[0]+" "+d[1]+" "+d[2]+" "+d[3]%>
                <%= ans %>
            </span>
            <span id="category-tasks">
                <b><%= t.category %></b>
            </span>
        </div>
            <hr>

            <% } %>

        </div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>